.navbar a { color: white !important; }
.container { margin-top: 40px;}
h5 { 
    color: goldenrod; 
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
    text-align: center;
}

section#footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 13px;
    font-style: italic;
    border-top: 1px solid #e3e3e3;
}